{% extends 'base.html' %}

{% block title %}Humor - My Site{% endblock %}

{% block content %}

<div class="mb-5">
  <h1 class="display-5 fw-bold"><span class="text-muted">Larminians ></span> Adventures</h1>
  <p class="lead text-muted">Some lighthearted moments to keep things fun.</p>
</div>

<!-- Carousel -->
<div id="humorCarousel" class="carousel slide carousel-fade" data-mdb-ride="carousel" data-mdb-interval="10000">
  <div class="carousel-inner">

    {% for image in images %}
    <div class="carousel-item {% if loop.first %}active{% endif %}">
      <img src="{{ url_for('static', filename=image) }}" style="max-width: 800px; height: 250px;" class="d-block mx-auto rounded shadow-4" alt="Humor {{ loop.index }}">
    </div>
    {% endfor %}

  </div>

  <!-- Controls -->
  <button class="carousel-control-prev" type="button" data-mdb-target="#humorCarousel" data-mdb-slide="prev">
    <span class="fa-solid fa-arrow-left fa-2x" aria-hidden="true" style="color: black;"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-mdb-target="#humorCarousel" data-mdb-slide="next">
    <span class="fa-solid fa-arrow-right fa-2x" aria-hidden="true" style="color: black;"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>

{% endblock %}

{% block scripts %}
<script src="{{ url_for('static', filename='js/init-carousel.js') }}"></script>
{% endblock %}
