{% extends 'base.html' %}

{% block title %}Contact - My Site{% endblock %}

{% block content %}

<!-- Contact Header -->
<div class="mb-5">
  <h1 class="display-5 fw-bold">Contact</h1>
  <p class="lead text-muted">I'd love to hear from you — let's connect.</p>
</div>

<!-- Social Media Icons -->
<div class="mb-5">
  <a href="https://www.linkedin.com/in/tom-larminier/" target="_blank" class="btn btn-primary"> <i class="fab fa-linkedin fa-4x"></i></a>
  <a href="https://github.com/MaximusDraka" target="_blank" class="btn btn-dark"> <i class="fab fa-github fa-4x"></i></a>
  <a href="mailto:tom@larminier.eu" target="_blank" class="btn btn-danger"> <i class="fas fa-envelope fa-4x"></i></a>
  <a href="https://codepen.io/Maximus-Draka" target="_blank" class="btn btn-success"> <i class="fa-brands fa-codepen fa-4x"></i></a>  
</div>

<hr class="my-5"/>

<div class="row mb-5">
  <div class="col-md-4 mb-4">
    <div class="card h-100 shadow-3">
      <div class="card-body d-flex flex-column">        
        <img src="{{ url_for('static', filename='img/website/datacamp.jpg') }}" class="img-fluid shadow-4-strong mb-5 mx-auto" style="height: 170px; width: 370px;" alt="Datacamp"><br/>
        <p class="card-text">Online learning platform for data science and analytics.</p>
        <div class="mt-auto"><a href="https://www.datacamp.com/portfolio/tom-bd1f42ca-a8cc-4825-be63-69b158961a12">Visit profile</a></div>
      </div>
    </div>
  </div>
  <div class="col-md-4 mb-4">
    <div class="card h-100 shadow-3">
      <div class="card-body d-flex flex-column">        
        <img src="{{ url_for('static', filename='img/website/ScrumAlliance.png') }}" class="img-fluid shadow-4-strong mb-5 mx-auto" style="height: 170px; width: 370px;" alt="Scrum Alliance"><br/>
        <p class="card-text">Agile certification organization.</p>
        <div class="mt-auto"><a href="https://www.scrumalliance.org/members/1049719">Visit profile</a></div>
      </div>
    </div>
  </div>
  <div class="col-md-4 mb-4">
    <div class="card h-100 shadow-3">
     <div class="card-body d-flex flex-column">
        <img src="{{ url_for('static', filename='img/website/iiba.png') }}" class="img-fluid shadow-4-strong mb-5 mx-auto" style="height: 170px; width: 370px;" alt="IIBA"><br/>
        <p class="card-text">Business analysis certification organization.</p>
        <div class="mt-auto"><a href="https://brussels.iiba.org/">Visit Brussels Chapter</a></div>
      </div>
    </div>
  </div>
</div>
{% endblock %}