{% extends 'base.html' %}

{% block title %}Home - Larminium{% endblock %}

{% block content %}
<!-- Hero Section -->
<div>  
  <h1 class="display-5 fw-bold">Hello, welcome!</h1>
 
</div>
<div class="row align-items-center">
  <!-- Image Column -->
  <div class="col-md-6">
    <img src="{{ url_for('static', filename='img/website/home-banner.png') }}" 
         class="rounded img-fluid" 
         alt="Home banner">
  </div>

  <!-- Text Column -->
  <div class="col-md-6">
    <p class="lead text-muted">
      I'm Tom - a freelance business analyst from Belgium and a data-driven problem solver with a love for visualizations.<br/><br/>
      Feel free to explore my blog posts, learn about the Larminians and more!
    </p>
  </div>
</div>

<hr class="my-5"/>

<!-- Recent Posts Section -->

{% include 'posts_list.html' %}

<br/>
<div class="text-center">
  <a href="{{ url_for('blog') }}" class="btn btn-primary">View All Articles</a>
</div>
<br/>

<!---
<hr class="my-5"/>

<img src="{{ url_for('static', filename=image) }}" class="d-block w-100 rounded shadow-4" alt="Humor Image">
-->

{% endblock %}