{% extends 'base.html' %}

{% block title %}Larminians - Larminium{% endblock %}

{% block content %}


<!-- Header -->
<div class="mb-5">
  <h1 class="display-5 fw-bold"><span class="text-muted">Larminians ></span> Personas</h1>
  <p class="lead text-muted">We are the Larminians, a group of avatars living in Larminium dedicated to the discovery of technology, creativity, and problem-solving.
    <br/>We represent different roles and skills in the tech world, each with our own unique perspective and approach to challenges.<br/>
    Find out more about our personas below. 
  </p>
</div>


<!-- Larminians Section -->
<div class="row mb-5">
  <div class="col-md-4 mb-4">
    <div class="card h-100 shadow-3">
      <div class="card-body">       
            <img src="{{ url_for('static', filename='img/larminians/business_analyst.jpg') }}" 
             class="img-fluid rounded shadow-4" alt="Business Analyst">             
            <p class="card-text"><br/>
              As a business analyst my quest is to gain insights into business processes and data.<br/>
                Therefor I know of various tools and techniques to enhance my analytical skills.<br/>
                I use industry standards and checklists to ensure quality and consistency in my work.<br/>
                I'm detailed-oriented, highlight important information and communicate findings effectively.<br/><br/>
                <br/><br/>
                <span class="badge bg-primary me-2 mb-2">Business Process Modeling</span> <span class="badge bg-primary me-2 mb-2">Data Analysis</span> <span class="badge bg-primary me-2 mb-2">Requirements Gathering</span>
            </p>       
      </div>
    </div>
  </div>
  <div class="col-md-4 mb-4">
    <div class="card h-100 shadow-3">
      <div class="card-body">
         <img src="{{ url_for('static', filename='img/larminians/developer.jpg') }}" 
             class="img-fluid rounded shadow-4 d-block mx-auto" alt="Developer">             
            <p class="card-text"><br/>
              As a developer I am passionate about creating efficient and effective software solutions.<br/>
                I am proficient in various programming languages and frameworks, my keyboard is my best friend.<br/>
                I am a problem-solver at heart, my pocket knife skills serve me well.<br/>
                When I'm in the zone, I can code for hours on end without losing focus, armed with a pizza cutter food is not an issue.<br/><br/>
                <br/>
                <span class="badge bg-primary me-2 mb-2">DevOps</span> <span class="badge bg-primary me-2 mb-2">Programming</span> <span class="badge bg-primary me-2 mb-2">Git</span>                     
            </p>      
      </div>
    </div>
  </div>
  <div class="col-md-4 mb-4">
    <div class="card h-100 shadow-3">
      <div class="card-body">
          <img src="{{ url_for('static', filename='img/larminians/tester.jpg') }}" 
             class="img-fluid rounded shadow-4 d-block mx-auto" alt="Tester">             
            <p class="card-text"><br/>
              As a tester I make sure the software is ready for release.<br/>
              I am detail-oriented and methodical, with a keen eye for spotting bugs and issues.<br/>
              Speed is important, so automatic testing is my friend.<br/>
              I measure the solution towards the requirements<br/>
              We follow test scripts and document results thoroughly.<br/><br/><br/>
              <span class="badge bg-primary me-2 mb-2">Functional</span> <span class="badge bg-primary me-2 mb-2">Automatic</span> <span class="badge bg-primary me-2 mb-2">Test report</span>                     
             </p>      
      </div>
    </div>
  </div>
    <div class="col-md-4 mb-4">
    <div class="card h-100 shadow-3">
      <div class="card-body">
          <img src="{{ url_for('static', filename='img/larminians/draka.jpg') }}" 
             class="img-fluid rounded shadow-4 d-block mx-auto" alt="Draka">             
            <p class="card-text"><br/>
               
            </p>      
      </div>
    </div>
  </div>
  <div class="col-md-4 mb-4">
    <div class="card h-100 shadow-3">
      <div class="card-body">
          <img src="{{ url_for('static', filename='img/larminians/gis_expert.jpg') }}" 
             class="img-fluid rounded shadow-4 d-block mx-auto" alt="GIS Expert">             
            <p class="card-text"><br/>
                
            </p>          
      </div>
    </div>
  </div>
  <div class="col-md-4 mb-4">
    <div class="card h-100 shadow-3">
      <div class="card-body">
          <img src="{{ url_for('static', filename='img/larminians/technical_writer.jpg') }}" 
             class="img-fluid rounded shadow-4 d-block mx-auto" alt="Technical Writer">             
            <p class="card-text"><br/>
             
            </p>         
      </div>
    </div>
  </div>
  <div class="col-md-4 mb-4">
    <div class="card h-100 shadow-3">
      <div class="card-body">
          <img src="{{ url_for('static', filename='img/larminians/legal.jpg') }}" 
             class="img-fluid rounded shadow-4 d-block mx-auto" alt="Legal">             
            <p class="card-text"><br/>
            </p>      
      </div>
    </div>
  </div>
  <div class="col-md-4 mb-4">
    <div class="card h-100 shadow-3">
      <div class="card-body">
          <img src="{{ url_for('static', filename='img/larminians/functional_analyst.jpg') }}" 
             class="img-fluid rounded shadow-4 d-block mx-auto" alt="Functional Analyst">             
            <p class="card-text"><br/>
            </p>      
      </div>
    </div>
  </div>
  <div class="col-md-4 mb-4">
    <div class="card h-100 shadow-3">
      <div class="card-body">
          <img src="{{ url_for('static', filename='img/larminians/human_resource.jpg') }}" 
             class="img-fluid rounded shadow-4 d-block mx-auto" alt="Human Resource">             
            <p class="card-text"><br/>
            </p>      
      </div>
    </div>
  </div>
  <div class="col-md-4 mb-4">
    <div class="card h-100 shadow-3">
      <div class="card-body">
          <img src="{{ url_for('static', filename='img/larminians/business_unit.jpg') }}" 
             class="img-fluid rounded shadow-4 d-block mx-auto" alt="Business Unit">             
            <p class="card-text"><br/>
            </p>      
      </div>
    </div>
  </div>
  <div class="col-md-4 mb-4">
    <div class="card h-100 shadow-3">
      <div class="card-body">
          <img src="{{ url_for('static', filename='img/larminians/ui-ux_expert.jpg') }}" 
             class="img-fluid rounded shadow-4 d-block mx-auto" alt="UI/UX Expert">             
            <p class="card-text"><br/>
            </p>      
      </div>
    </div>
  </div>
  <div class="col-md-4 mb-4">
    <div class="card h-100 shadow-3">
      <div class="card-body">
          <img src="{{ url_for('static', filename='img/larminians/project_manager.jpg') }}" 
             class="img-fluid rounded shadow-4 d-block mx-auto" alt="Project Manager">             
            <p class="card-text"><br/>
            </p>      
      </div>
    </div>
  </div>
  <div class="col-md-4 mb-4">
    <div class="card h-100 shadow-3">
      <div class="card-body ">
          <img src="{{ url_for('static', filename='img/larminians/manufacturing.jpg') }}" 
             class="img-fluid rounded shadow-4 d-block mx-auto" alt="Manufacturing">             
            <p class="card-text"><br/>
            </p>      
      </div>
    </div>
  </div>  
</div>

{% endblock %}