<!DOCTYPE html>
<html>
<head>
    <title>YouTube Video in Flask</title>
</head>
<body>
    <h1>Dynamic YouTube Video (Query Param)</h1>

    {% if video_id %}
        <iframe width="560" height="315" 
                src="https://www.youtube.com/embed/{{ video_id }}" 
                title="YouTube video player" 
                frameborder="0" 
                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" 
                allowfullscreen>
        </iframe>
    {% else %}
        <p>No video ID provided. Please add <code>?vid=VIDEO_ID</code> to the URL.</p>
    {% endif %}
</body>
</html>
